@import '../../../../styles/variables';

:host {
  width: $section-nav-width;
  height: $main-nav-size;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

i {
  font-size: 38px;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  padding-left: 5px;

  span {
    font-weight: 300;
    color: #d3dfeb;
  }
}
