<nav>
  <a routerLink="/dashboard" routerLinkActive="active">
    <i class="zmdi zmdi-view-dashboard"></i>
    Dashboards
  </a>
  <a routerLink="/applications" routerLinkActive="active">
    <i class="zmdi zmdi-apps"></i>
    Applications
  </a>
  <a routerLink="/domains" routerLinkActive="active">
    <i class="zmdi zmdi-assignment-check"></i>
    Domains
  </a>
  <a routerLink="settings" routerLinkActive="active">
    <i class="zmdi zmdi-input-composite"></i>
    Integrations
  </a>
  <a routerLink="users" routerLinkActive="active">
    <i class="zmdi zmdi-accounts-list"></i>
    Users
  </a>
  <a routerLink="monitoring" routerLinkActive="active">
    <i class="zmdi zmdi-chart"></i>
    Monitoring
  </a>
  <a routerLink="settings" routerLinkActive="active">
    <i class="zmdi zmdi-settings"></i>
    Settings
  </a>
</nav>
